/********* BEGIN CSS RESET *******************/

html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/*********** END CSS RESET ********************/


/********** BEGIN HEADER CSS ******************/

html, body {
  height: 100%;
}

body {
  font-size: 18px;
}

.header {
  height: 95%;

  background-color: #F4E9E6;
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.70), 
      rgba(255, 255, 255, 0.00)
    ),
    url('/images/bench4.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

h1 {  
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em 0.5em 5em 0.5em;
  font-size: 5.5em;
}

.shadow {
  position: relative;
}
.shadow div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.shadow .top {
  font-family: Bungee Hairline;
  text-shadow: -1px 1px 0px #4d563e;
  z-index: 1;
  color: #4d563e;
}

.shadow .bottom {
  font-family: Bungee;
  z-index: 0;
  color: white;
  text-shadow: -0.08em 0.08em 0px #4d563e;
}

@media screen and (max-width: 1000px) { 
  h1 {
    font-size: 7.5em;
    padding-top: 1em;
  }
}

/********** END HEADER CSS ******************/


/********** BEGIN BODY CSS ******************/

.section {
  font-family: 'Arvo', serif;
  font-weight: 400;
  line-height: 1.6em;

  /*padding: 1em;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.cell {
  flex: 1;
  margin: 1em;
}

.faq {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.faq .question {
  flex: 1;
  text-align: right;
  text-transform: uppercase;
  margin-right: 1em;
  font-weight: 700;
}

.faq .answer {
  flex: 3;
}

.cell.h2 {
  margin: 8.7em 0;
}

#stay > .cell.h2 {
  margin: 5em 0;
}

#stay .vert > p {
  margin: 2em 0;
  padding: 0 1em;
}

.section h2 {
  flex: 1;
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  font-size: 3.5em;
  line-height: 1.3em;
  margin: auto;
}

.section img {
  border: 0.5em solid black;
  width: 100%;
  height: 100%;
}

.image {
  margin: 0.5em;
  padding: 0;
  height: 6em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3em;
}

#where svg {
  margin: 9.4em 11.2em;
}

#rsvp .image {
  background-image:      
    radial-gradient(
      rgba(202, 206, 171, 0.20), 
      rgba(202, 206, 171, 0.60)
    ),
    url("/images/rsvp-crop.jpg");
    box-shadow: 0 0 0.5em #49513e;
    background-size: cover;
    /*background-size: 83%; */
}

#registry .image {
  background-image:      
    radial-gradient(
      rgba(202, 206, 171, 0.20), 
      rgba(202, 206, 171, 0.60)      
    ),
    url("/images/registry-crop.jpg");
    box-shadow: 0 0 0.5em #49513e;
    background-size: cover;
  /*background-size: 100%; */
}

#about .image {
  background-image:      
/*    radial-gradient(
      rgba(244, 233, 230, 0.10), 
      rgba(244, 233, 230, 0.30)
    ),
*/    url("/images/rock2.jpg");
  /*background-size: 100%; */
}

.image.overlay {
  font-family: "Courier New", monospace;
  font-weight: bold;
  /*text-decoration: underline;*/
  /*color: #0000EE; #373d2e;*/
  text-shadow: 0 0 1em #fff;
  text-align: center;
  line-height: 5.5em;
}

a, a:visited {
  text-decoration: underline;
  color: #0000CC;
}

a:hover, a:visited:hover {
  /*text-decoration: none;*/
  color: #0000FF;
}


/*.overlay span {
  background-color: #4d563e;
}*/

.vert > p {
  margin:  7.4em 0px;
  text-align: center;
}


.section:nth-child(even) img  {
  border-color: #800020;
}
.section:nth-child(odd) img {
  border-color: #3A4920;
}

.section:nth-child(even) li  {
  border-color: #5b0016;
}
.section:nth-child(odd) li {
  border-color: #303d1a;
}


.section ul {
  list-style: circle;
  line-height: 2em;
}

.section li {
  padding: 0.5em 0.5em;
  margin: 0.2em 0;
}

@media screen and (max-width: 1000px) { 
  .section {
    flex-direction: column;
    font-size: 2.3rem;
    padding: 2em 0;
  }
  
  a {
    text-decoration: underline;
  }

  .cell {
    margin: 1em;
  }
  .cell p {
  }
  .cell.h2 {
    margin: 1em;
  }
  #stay .cell.h2 {
    margin: 1em;
  }
  .cell.faq-parent {
    margin: 0 1em;
  }
  .cell.image {
    margin: 1em;
    height: 5em;
    width: 100%;
    font-size: 3em;
  }
  .vert > p {
    margin: 0.5em 0;
    text-align: center;
    line-height: 1.5em;
    font-size: 1em;
  }
  #stay .vert > p {
    margin: 0.5em 0;
    padding: 0 0.2em;
  }
  .faq {
    line-height: 1.5em;
  }
  .faq .answer {
    flex: 2;
  }
  .image.overlay {
    line-height: 5.5em;
  }
}

.section:nth-child(even) {
  background-color: #F4E9E6;
  color: #5b0016;
}
.section:nth-child(odd) {
  background-color: #CACEAB;
  color: #303d1a;
}
