/********* BEGIN CSS RESET *******************/

html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/*********** END CSS RESET ********************/


/********** BEGIN HEADER CSS ******************/

html, body {
  font-size: 18px;
  height: 100%;
}

.header {
  height: 95%;

  background-color: #F4E9E6;
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.70), 
      rgba(255, 255, 255, 0.00)
    ),
    url('/images/bench2.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

h1 {  
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em 0.5em 5em 0.5em;
  font-size: 5.5em;
}

.shadow {
  position: relative;
}
.shadow div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.shadow .top {
  font-family: Bungee Hairline;
  text-shadow: -1px 1px 0px #3A4920;
  z-index: 1;
  color: #3A4920;
}

.shadow .bottom {
  font-family: Bungee;
  z-index: 0;
  color: white;
  text-shadow: -0.08em 0.08em 0px #3A4920;
}

@media screen and (max-width: 1000px) { 
  h1 {
    font-size: 7.5em;
    padding-top: 1em;
  }
}

/********** END HEADER CSS ******************/


/********** BEGIN BODY CSS ******************/

.section {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.cell {
  flex: 1;
  margin: 1em;
}

.image {
  padding-bottom: 1em;
}

.faq {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.faq .question {
  flex: 1;
  text-align: right;
  text-transform: uppercase;
  margin-right: 1em;
  font-weight: 700;
}

.faq .answer {
  flex: 3;
}

.section h2 {
  flex: 1;
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  font-size: 3.5em;
  line-height: 1.2em;
  margin: auto;
}

.section {
  font-family: 'Arvo', serif;
  font-weight: 400;
  line-height: 1.6em;
  padding-left: 1em;
}

.section img {
  border: 0.5em solid black;
  width: 100%;
  height: 100%;
}



.section:nth-child(even) img  {
  border-color: #800020;
}
.section:nth-child(odd) img {
  border-color: #3A4920;
}

.section:nth-child(even) li  {
  border-color: #5b0016;
}
.section:nth-child(odd) li {
  border-color: #303d1a;
}


.section ul {
  list-style: circle;
  /*text-align: center;*/
  line-height: 2em;
/*  display: flex;
  flex-direction: column;
  justify-content: space-between;
*/
}

.section li {
  /*flex: 2;*/
  padding: 0.5em 0.5em;
  margin: 0.2em 0;
  /*border-radius: 2em;*/
  /*border: 0.08em solid black;*/
}

@media screen and (max-width: 1000px) { 
  .section {
    flex-direction: column;
    font-size: 2em;
    padding: 2em 0;
  }

  .section h2 {
    /*font-size: 2em;*/
  }

  .cell {
    margin: 1em 1em 2em 1em;
  }
  .h2 {
    margin: 1em;
  }
  .faq .answer {
    flex: 2;
  }
}

.section:nth-child(even) {
  background-color: #F4E9E6;
  color: #5b0016;
}
.section:nth-child(odd) {
  background-color: #CACEAB;
  color: #303d1a;
}

/*.section:nth-child(even) li {
  background-color: #800020;
  color: #F4E9E6;
}
.section:nth-child(odd) li {
  background-color: #3A4920;
  color: #CACEAB;
}*/

