<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{{ page.title }} - Jon Levine.com</title>
    <link href='/css/normalize.css' rel='stylesheet' type='text/css' />
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
    <link href='/d3/d3.css' rel='stylesheet' type='text/css' />
    
    <!--[if lt IE 9]>
      <script href='http://html5shiv.googlecode.com/svn/trunk/html5.js' type='text/javascript'></script>
    <![endif]-->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
      var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-18813330-2']);
    	_gaq.push(['_trackPageview']);

    	(function() {
    	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    	})();  	
    </script>
    <script type='text/javascript' src='/d3/d3.js'></script>
    <script type='text/javascript' src='/d3/d3.layout.js'></script>    
    <script type='text/javascript' src='/script/site.js'></script>
    
  </head>
  <body>
    <header>
      <a href='/'>Jon Levine.com</a> &raquo;
      {{ page.title }}
    </header>
    <nav>
      {% for t in site.titles %}
      <a href={{site.urls[forloop.index0]}} {% if page.title == t %}
          style="background-color: #{{page.color}};" class="selected"
        {% endif %}>{{t}}</a>
      {% endfor %}
    </nav>
    <!-- <div id="transition" onclick="transition()">Transition background</div> -->
    <article>{{ content }}</article>
    <div id="chart"></div>
    <script type='text/javascript'>
      var color = d3.interpolateRgb("#aaa", "#{{page.color}}");
    </script>
    <script type='text/javascript' src='/d3/stream.js'></script>
    
    <!-- <footer style="background-color: #{{page.color}}; border-top: 2px solid #{{page.color}}">
      <div></div>
    </footer> -->
  </body>
</html>
