<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Monoton|Arvo:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/main.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142847475-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142847475-1');
  </script>

</head>
<body>
{{ content }}
</body>
</html>