---
layout: default
---

  <div class='header'>
    <h1>We're getting married!</h1>
  </div>

  <div class='section' id='where'>
    <div class='cell h2'>
      <div class='vert'>
        <h2>Basic info</h2>
      </div>
    </div>
    <div class='cell ul'>
      <ul>
        <li class='border'>October 10, 2019</li>
        <li class='border'>Presidio Log Cabin</li>
        <li class='border'>1299 Storey Ave, San&nbsp;Francisco,&nbsp;CA&nbsp;94129</li>
        <li class='border'>Ceremony  at 4pm; Reception&nbsp;to&nbsp;follow</li>
        <li class='border'>Serving dinner; vegan&nbsp;options&nbsp;included!!</li>
        <li class='border'>Summer casual dress code (nice&nbsp;jeans&nbsp;OK!)</li>
      </ul>
    </div>
    <div class='cell img'>
      <img class='border' src='/images/cabin.jpg' />    
    </div>
  </div>

  <div class='section' id='rsvp'>
    <div class='cell'>
      <div class='vert'>
        <h2>RSVP</h2>
      </div>
    </div>
    <div class='cell'>
      <p>
        Coming soon!
      </p>
    </div>
    <div class='cell image'>
      <img src='/images/cabin.jpg' />    
    </div>
  </div>

  <div class='section' id='about'>
    <div class='cell'>
      <div class='vert'>
        <h2>About the couple</h2>
      </div>
    </div>
    <div class='cell'>
      <p>
        Jon and Kitt met as interns in 2011. After traveling to New Orleans, Costa Rica, and Zion they finally settled down together in San Francisco. There they bonded over their shared love of hiking, [answer] and [answer].
      </p>
    </div>
    <div class='cell'>
      <p>
        In 2018, on a flight to Hawaii, Jon popped the question on their descent, surprising Kitt and everyone else on the plane. And since that day we’ve been so excited to celebrate with all of you.
      </p>
    </div>
  </div>

  <div class='section' id='stay'>
    <h2>Where to stay</h2>
  </div>

  <div class='section' id='do'>
    <h2>What to do</h2>
  </div>

  <div class='section' id='Registry'>
    <h2>Registry</h2>
  </div>