---
layout: default
---

  <div class='header'>
    <h1><div class='shadow'>
      <div class='top'>We're getting married!</div>
      <div class='bottom'>We're getting married!</div>
    </div></h1>
  </div>

  <div class='section' id='where'>
    <div class='cell h2'>
      <div class='vert'>
        <h2>Event info</h2>
      </div>
    </div>
    <div class='cell faq-parent'>
      <div class='faq'>
        <div class='question'>Date</div>
        <div class='answer'>October 19, 2019</div>
      </div>
      <div class='faq'>
        <div class='question'>Time</div>
        <div class='answer'>Ceremony  at 4pm; Reception&nbsp;to&nbsp;follow</div>
      </div>
      <div class='faq'>
        <div class='question'>Venue</div>
        <div class='answer'>Presidio Log Cabin</div>
      </div>
      <div class='faq'>
        <div class='question'>Address</div>
        <div class='answer'>1299 Storey Ave, San&nbsp;Francisco,&nbsp;CA&nbsp;94129</div>
      </div>
      <div class='faq'>
        <div class='question'>Dinner</div>
        <div class='answer'>Food trucks; vegan options available!</div>
      </div>
      <div class='faq'>
        <div class='question'>Attire</div>
        <div class='answer'>Summer casual (nice jeans OK!)</div>
      </div>
    </div>
    <div class='cell h2'>
      <div class='vert'><h2>🎉</h2></div>
    </div>
  </div>

  <div class='section' id='rsvp'>
    <div class='cell h2'>
      <div class='vert'>
        <h2>RSVP</h2>
      </div>
    </div>
    <div class='cell image'>
      <p class='overlay'>Coming soon!</p>
    </div>
    <div class='cell h2'>
      <div class='vert'><h2>📬</h2></div>
    </div>
  </div>


  <div class='section' id='stay'>
    <div class='cell h2'>
      <div class='vert'>
        <h2>Where to stay</h2>
      </div>
    </div>
    <div class='cell'>
      <div class='vert'>
        <p>
          We suggest finding a place on Airbnb, especially in the nearby Richmond, or near our house in the Mission. Lombard St has modestly priced motels and is close to the Presidio. SFO airport also has many reasonably priced chain hotels nearby.
        </p>
        <p>
          We love showing people a good time in the city so get in touch with us if you have any questions about where to stay!
        </p>
      </div>
    </div>
    <div class='cell'>
    <div class='cell h2'>
      <div class='vert'><h2>🏡</h2></div>
    </div>
    </div>
  </div>

  <div class='section' id='registry'>
    <div class='cell h2'>
      <div class='vert'>
        <h2>Registry</h2>
      </div>
    </div>
    <div class='cell image'>
      <p class='overlay'>Coming soon!</p>
    </div>
    <div class='cell h2'>
      <div class='vert'><h2>🎁</h2></div>
    </div>
  </div>

    <div class='section' id='about'>
    <div class='cell h2'>
      <div class='vert'>
        <h2>About the couple</h2>
      </div>
    </div>
    <div class='cell'>
      <div class='vert'>
        <p>
          Jon and Kitt met as Tech Company Interns in 2011. After a whirlwind trip through New Orleans, Costa Rica, and Zion National Park, they finally decided to settle down together in San Francisco. There they bonded over (or learned to tolerate) hiking, guitar solos, and <i>Bachelor in Paradise</i>.
        </p>
      </div>
    </div>
    <div class='cell image'>
    </div>
  </div>

