---
layout: default
---
<div class='flex-container'>
<div class='header'>
  <h1>We're getting married!</h1>
</div>
<div class='section' id='where'>
  <h2>Where and When</h2>
  <img src='/images/cabin.jpg' />

</div>

<div class='section' id='rsvp'>
  <h2>RSVP</h2>
  <p>Coming soon!</p>
</div>

<div class='section' id='about'>
  <h2>About the couple</h2>
  <p>
    Jon and Kitt met as interns in 2011. After traveling to New Orleans, Costa Rica, and Zion they finally settled down together in San Francisco. There they bonded over their shared love of hiking, [answer] and [answer].
  </p>
  <p>
    In 2018, on a flight to Hawaii, Jon popped the question on their descent, surprising Kitt and everyone else on the plane. And since that day we’ve been so excited to celebrate with all of you.
  </p>
</div>

<div class='section' id='stay'>
  <h2>Where to stay</h2>
</div>

<div class='section' id='do'>
  <h2>What to do</h2>
</div>

<div class='section' id='Registry'>
  <h2>Registry</h2>
</div>
</div>